.wrapper-gpt-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .header-gpt-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 30px;
    padding-left: 20px;
    .tittle-gpt-chat {
      font-size: 28px;
      color: #ffffff;
    }
    .logo-gpt-chat {
      gap: 8px;
      display: flex;
    }
  }

  .wrapper-chat {
    margin-top: -30px;
    width: 96%;

    height: 65%;
    padding: 10px;
  }

  .input-prompt-gpt {
    width: 96%;
    height: 7%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff; /* Agrega un borde inferior */
    outline: none;
    color: #ffffff;
    font-size: 15px;
    padding-left: 10px;
  }
  .button-submit {
    border-radius: 8px;
    height: 40px;
    width: 40px;
    position: fixed;
    margin-top: 24%;
    margin-left: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button-submit:hover {
    border: none;
    border-radius: 8px;
    background-color: #5371ff;
  }

  ::placeholder {
    color: #ffffff;
    font-size: 15px;
  }
}
