.wrapper-particle-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  gap: 12px;
  .tittle {
    font-size: 28px;
    color: #ffffff;
  }
  .wrapper-data-sensors {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 18px;
    color: #ffffff;
  }
  .average {
    font-weight: bold;
    font-size: 21px;
    color: #ffffff;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .button-cleaner {
      font-size: 10px !important;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      height: 25px;
      transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    }
    .button-cleaner:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
    .wrapper-sensors {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 5px;
      width: 100%;
    }
    .span-sensor-normal {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #d9d9d9;
      border: 2px solid black;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    }
    .span-sensor-selected {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: white;
      border: 2px solid black;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    }
    .span-sensor-normal:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
